body {
  background-color: #8f7f70;
  padding-bottom: 500px;
}

.my-img {
  width: 100%;
  height: 100%;

  /* background-position: 50% 50%; */
  background-repeat: no-repeat;
  /* background-size: 0px; */
  border-radius: 100px;
  object-fit: contain;
}

#icon-margin {
  margin-left: 25px;
}

/* .examples-new {
  background: this.word;
} */

#prompt-box-background {
  background-color: #f9e9cefa;
  width: 350px;
  height: auto;
  border: 3px solid black;
  box-sizing: border-box;
}
#new-box-background {
  /* box-sizing: border-box; */

  /* margin-top: 100px; */
  margin-bottom: 50px;
  height: auto;
  width: auto;
  padding: 15px;
  border: 3px dotted #a3a6c2;
}
#new-box-background-2 {
  box-sizing: content-box;

  margin-top: 100px;
  margin-bottom: 100px;
  height: auto;
  padding: 15px;
  border: 3px solid black;
}
#new-box-background-3 {
  box-sizing: content-box;
  background-color: #c9ded3;

  margin-top: 100px;
  margin-bottom: 100px;
  height: inherit;
  width: inheret;
  padding: 15px;
  border: 3px solid black;
}

#header-color-custom {
  background-color: #8f7f70;
}

/* *****CUSTOM BY ME***** */
#my-icon {
  color: #f9e9ce;
  font-family: monospace;
}
#my-icon-2 {
  color: #c9ded3;
  font-family: monospace;
}
#my-icon-3 {
  color: #f2c7bb;
  font-family: monospace;
}
#my-icon-4 {
  color: #a3a6c2;
  font-family: monospace;
}
#my-icon-5 {
  color: #4c5283;
  font-family: monospace;
}
#my-icon-6 {
  color: #85e1f1;
  font-family: monospace;
}

#custom-fc-1 {
  color: #0f7e8f;
  font-family: monospace;
}
/* *****CUSTOM BY ME***** */

/* ***product-overlay for wordIndex buttons**** */
/* ***brand-icon sizing***, line: 3183 */

/* examplesNEW */
.text-danger {
  color: red;
}
.image {
  width: 350px;
  height: auto;
}
#word-new {
  font-size: 50px;
  color: #f2cc8f;
  /* font-family: monospace; */
}
#new-button {
  display: inline-block;
  background: #1e324d;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
#new-button-2 {
  display: inline-block;
  background: #32527c;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

/* center align */
.custom-center {
  text-align: center;
  color: #bb521f;
  margin: auto;
  width: 50%;
}
.custom-center-2 {
  text-align: center;

  margin: auto;
  width: 50%;
}

#examples-box {
  width: 25%;
}

#image-fit {
  width: 50%;
  height: auto;
}

#you-wrote {
  font-size: 20px;
  /* text-decoration: underline; */
  color: #292727c4;
  /* font-family: monospace; */
}
#you-wrote-2 {
  font-size: 18px;
  color: #8f7f70;
  /* background-color: #f2c7bb; */
  font-family: monospace;
  font-style: italic;
  font-weight: 50;
  letter-spacing: 1px;
}
#you-wrote-3 {
  font-size: 18px;
  color: #faf4ef;
  /* background-color: #f2c7bb; */
  font-family: Roboto;

  font-style: italic;
  font-weight: 50;
  letter-spacing: 1px;
}

/* ***buttons*** */
#custom-button {
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #c9ded3;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif, bold;
  font-weight: 400;

  color: #292111;
  background-color: #f2c7bb;
  text-align: center;
  transition: all 0.2s;
}
#custom-button:hover {
  color: #f2c7bb;
  background-color: #292111;
}
#custom-button-2 {
  padding: 1px;
  /* border: 0.1em solid #c9ded3; */
  margin: auto;
  border: auto;
  border-radius: 100px;

  box-sizing: border-box;
}
#custom-button-2:hover {
  color: #f2c7bb;
  background-color: #f2c7bb;
}
#custom-button-3 {
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #c9ded3;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif, bold;
  font-weight: 400;

  color: #292111;
  background-color: #c9ded3;
  text-align: center;
  transition: all 0.2s;
}
#custom-button-3:hover {
  color: #c9ded3;
  background-color: #292111;
}
#custom-button-4 {
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #c9ded3;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif, bold;
  font-weight: 400;

  color: #292111;
  background-color: #f9e9ce;
  text-align: center;
  transition: all 0.2s;
}
#custom-button-4:hover {
  color: #f9e9ce;
  background-color: #292111;
}
#custom-button-5 {
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #f30404;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: monospace, sans-serif, bold;
  font-weight: 400;

  color: #f30404;
  background-color: #f9e9ce;
  text-align: center;
  transition: all 0.2s;
}
#custom-button-5:hover {
  color: #292111;
  background-color: #f30404;
}

#custom-button-submit {
  position: absolute;
  right: 250px;
  /* width: 300px; */
  display: inline-block;
  padding: 0.25em 1em;
  border: 0.1em solid #c9ded3;
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  border-radius: 100px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif, bold;
  font-weight: 400;

  color: #292111;
  background-color: #f2c7bb;
  text-align: center;
  transition: all 0.2s;
}

#center-text {
  text-align: center;
}

#custom-inline-display {
  display: inline-block;

  vertical-align: middle;
  margin: 0 auto;
}

/* *****************************/
/* hover button change */
/* Product */
/* .product {
  text-align: center;
}
.product .product-image {
  position: relative;
}
.product .product-image .product-overlay {
  opacity: 0;
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product .product-image .product-overlay .add-to-cart a {
  display: inline-block;
  background: #719367;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.product .product-image .product-overlay .add-to-cart a span {
  display: inline-block;
}
.product:hover .product-image .product-overlay {
  opacity: 1;
}
.product .product-description .product-title {
  margin: 20px 0px 10px;
}
.product .product-description .product-title a {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.product .product-description .product-title a:hover {
  color: #719367;
}
.product .product-description .product-price {
  font-size: 14px;
  font-weight: bold;
}
.product .product-description .product-price del {
  color: #999999;
}
.product .product-description .product-price ins {
  color: #89a481;
  text-decoration: none;
} */
