body {
  background-color: #8f7f70;
}

#header-color-custom {
  background-color: #8f7f70;
}

/* *****CUSTOM BY ME***** */
#my-icon {
  color: #f9e9ce;
}
#my-icon-2 {
  color: #c9ded3;
}
#my-icon-3 {
  color: #f2c7bb;
}

#custom-fc-1 {
  color: #0f7e8f;
}
/* *****CUSTOM BY ME***** */

/* ***product-overlay for wordIndex buttons**** */
/* ***brand-icon sizing***, line: 3183 */

/* examplesNEW */
.text-danger {
  color: red;
}
.image {
  width: 350px;
  height: auto;
}
#word-new {
  font-size: 50px;
  color: #f2cc8f;
  font-family: monospace;
}
#new-button {
  display: inline-block;
  background: #1e324d;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
#new-button-2 {
  display: inline-block;
  background: #32527c;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

/* center align */
.custom-center {
  text-align: center;
  color: #bb521f;
  margin: auto;
  width: 50%;
}

#examples-box {
  width: 25%;
}

#image-fit {
  width: 50%;
  height: auto;
}

#you-wrote {
  font-size: 25px;
  text-decoration: underline;
  color: rgb(243, 137, 137);
  font-family: monospace;
}
#you-wrote-2 {
  font-size: 25px;
  color: rgb(243, 137, 137);
  font-family: monospace;
}

/* ***buttons*** */
#custom-button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif, bold;
  font-weight: 400;
  color: #e07a5f;
  text-align: center;
  transition: all 0.2s;
}
#custom-button:hover {
  color: #000000;
  background-color: #ffffff;
}

#center-text {
  text-align: center;
}

#custom-inline-display {
  display: inline-block;

  vertical-align: middle;
  margin: 0 auto;
}

/* *****************************/
/* hover button change */
/* Product */
/* .product {
  text-align: center;
}
.product .product-image {
  position: relative;
}
.product .product-image .product-overlay {
  opacity: 0;
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product .product-image .product-overlay .add-to-cart a {
  display: inline-block;
  background: #719367;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.product .product-image .product-overlay .add-to-cart a span {
  display: inline-block;
}
.product:hover .product-image .product-overlay {
  opacity: 1;
}
.product .product-description .product-title {
  margin: 20px 0px 10px;
}
.product .product-description .product-title a {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.product .product-description .product-title a:hover {
  color: #719367;
}
.product .product-description .product-price {
  font-size: 14px;
  font-weight: bold;
}
.product .product-description .product-price del {
  color: #999999;
}
.product .product-description .product-price ins {
  color: #89a481;
  text-decoration: none;
} */
