/* *****CUSTOM BY ME***** */
#my-icon {
  color: #e6c2bf;
}
#my-icon-2 {
  color: #fad02c;
}
#my-icon-3 {
  color: #b88917;
}

#custom-fc-1 {
  color: #0f7e8f;
}
/* *****CUSTOM BY ME***** */

/* ***product-overlay for wordIndex buttons**** */
/* ***brand-icon sizing***, line: 3183 */

/* examplesNEW */
.text-danger {
  color: red;
}
.image {
  width: 350px;
  height: auto;
}
#word-new {
  font-size: 100px;
  color: rgb(243, 137, 137);
  font-family: monospace;
}
#new-button {
  display: inline-block;
  background: #1e324d;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
#new-button-2 {
  display: inline-block;
  background: #32527c;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

/* center align */
.custom-center {
  text-align: center;
  color: #bb521f;
  margin: auto;
  width: 50%;
}

#examples-box {
  width: 45%;
}

#image-fit {
  width: 100%;
  height: auto;
}

/* *****************************/
/* button change */
/* Product */
/* .product {
  text-align: center;
}
.product .product-image {
  position: relative;
}
.product .product-image .product-overlay {
  opacity: 0;
  text-align: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 1;
  margin: 0 auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.product .product-image .product-overlay .add-to-cart a {
  display: inline-block;
  background: #719367;
  color: #ffffff;
  text-transform: capitalize;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}
.product .product-image .product-overlay .add-to-cart a span {
  display: inline-block;
}
.product:hover .product-image .product-overlay {
  opacity: 1;
}
.product .product-description .product-title {
  margin: 20px 0px 10px;
}
.product .product-description .product-title a {
  font-size: 20px;
  font-weight: bold;
  color: #333333;
}
.product .product-description .product-title a:hover {
  color: #719367;
}
.product .product-description .product-price {
  font-size: 14px;
  font-weight: bold;
}
.product .product-description .product-price del {
  color: #999999;
}
.product .product-description .product-price ins {
  color: #89a481;
  text-decoration: none;
} */
